.root {
    -fx-background-image: url(images/IMG_5201.png);
    -fx-background-size: cover;
    -fx-background-repeat: norepeat;

}
#login-text {
    -fx-font-size: 32px;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: #61a2b1;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6,0.0,0,2);
}

#output-text {
    -fx-text-fill: FIREBRICK;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5), 0,0,0,1);
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-background-color: linear-gradient(#61a2b1, #245858);
    -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.6) , 5,0.0,0,1);
}
.button:hover {
    -fx-background-color: linear-gradient(#245858, #61a2b1);
}
.button:pressed {
    -fx-translate-x: -4px;
}