.root {
    -fx-background-image: url(images/6057485.jpg);
    -fx-background-size: cover;
    -fx-background-repeat: norepeat;

}
#login-text {
    -fx-font-size: 32px;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: #4DF0FF;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6,0.0,0,2);
}

#output-text {
    -fx-text-fill: FIREBRICK;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5), 0,0,0,1);
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-background-color: linear-gradient(#3A7CFF, #4DF0FF);
    -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.6) , 5,0.0,0,1);
}
.button:hover {
    -fx-background-color: linear-gradient(#4DF0FF, #3A7CFF);
}
.button:pressed {
    -fx-translate-x: -4px;
}